<div>
  <header
    class="flex items-center justify-between w-full py-6 px-4 bg-white border-b border-gray-300 dark:bg-gray-800 dark:border-gray-700 relative"
  >
    <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200">
      Trend | Painel de administração empresarial
    </h1>

    <div class="flex items-center justify-between">
      <nav class="flex gap-4">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
          >Notifications</a
        >
        <a
          routerLink="/about"
          routerLinkActive="active"
          class="text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
          >Perfil</a
        >
        <a class="focus:outline-none" aria-label="Toggle Dark Mode">
        </a>
      </nav>
    </div>
  </header>
</div>
