<div
  class="flex flex-col h-screen bg-gray-100 dark:bg-gray-900 transition-colors duration-700 ease-in-out font-semibold"
>
  <aside
    class="fixed top-0 left-0 h-screen bg-white border-r border-gray-300 dark:bg-gray-800 dark:border-gray-700 shadow-lg transition-all duration-700 ease-in-out"
    [ngClass]="{ 'w-64': isSidebarOpen, 'w-20': !isSidebarOpen }"
  >
    <nav class="mt-6 ml-2">
      <div class="flex items-center gap-4 py-4 px-2 mb-8 font-bold">
        <i
          class="material-icons text-gray-600 bg-blue-500 rounded-full flex items-center justify-center dark:text-gray-200 p-2 transition-all duration-700 ease-in-out"
        >
          business
        </i>
        <h1
          class="text-2xl font-bold text-gray-800 dark:text-gray-200 transition-all duration-700 ease-in-out origin-left"
          [ngClass]="{
            'translate-x-0 opacity-100': isSidebarOpen,
            '-translate-x-4 opacity-0': !isSidebarOpen
          }"
        >
          Trend
        </h1>
      </div>

      <ul class="flex flex-col gap-4 px-2">
        <li>
          <a
            routerLink="/dashboard"
            routerLinkActive="active"
            class="flex items-center gap-4 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 transition-all duration-700 ease-in-out cursor-pointer"
          >
            <i class="material-icons text-blue-800 dark:text-gray-200">
              dashboard
            </i>
            <span
              class="transition-all duration-700 ease-in-out origin-left"
              [ngClass]="{
                'translate-x-0 opacity-100': isSidebarOpen,
                '-translate-x-4 opacity-0': !isSidebarOpen
              }"
            >
              Dashboard
            </span>
          </a>
        </li>
        <li>
          <a
            routerLink="/reports"
            routerLinkActive="active"
            class="flex items-center gap-4 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 transition-all duration-700 ease-in-out cursor-pointer"
          >
            <i class="material-icons text-blue-800 dark:text-gray-200">
              bar_chart
            </i>
            <span
              class="transition-all duration-700 ease-in-out origin-left"
              [ngClass]="{
                'translate-x-0 opacity-100': isSidebarOpen,
                '-translate-x-4 opacity-0': !isSidebarOpen
              }"
            >
              Reports
            </span>
          </a>
        </li>
        <li>
          <a
            routerLink="/settings"
            routerLinkActive="active"
            class="flex items-center gap-4 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 transition-all duration-700 ease-in-out cursor-pointer"
          >
            <i class="material-icons text-blue-800 dark:text-gray-200">
              settings
            </i>
            <span
              class="transition-all duration-700 ease-in-out origin-left"
              [ngClass]="{
                'translate-x-0 opacity-100': isSidebarOpen,
                '-translate-x-4 opacity-0': !isSidebarOpen
              }"
            >
              Settings
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <header
    class="flex items-center justify-between py-6 px-4 bg-white border-b border-gray-300 dark:bg-gray-800 dark:border-gray-700 shadow-sm transition-all duration-700 ease-in-out"
    [ngClass]="{ 'ml-64': isSidebarOpen, 'ml-20': !isSidebarOpen }"
  >
    <div class="flex items-center gap-4 relative" aria-label="Toggle Sidebar">
      <button
        class="flex items-center mt-1.5 justify-center text-gray-700 dark:text-gray-200 transition-transform duration-500 cursor-pointer"
        (click)="isSidebarOpen = !isSidebarOpen"
      >
        <i class="material-icons text-blue-800 dark:text-gray-200">menu</i>
      </button>
      <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200">
        Trend | Business Administration Dashboard
      </h1>
    </div>

    <div class="flex items-center gap-12">
      <nav class="flex gap-6 cursor-pointer text-3xl">
        <div class="relative">
          <button
            class="relative text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 transition-colors duration-400 ease-in-out cursor-pointer mt-2"
            (click)="isNotificationsOpen = !isNotificationsOpen"
          >
            <i class="material-icons text-blue-800 dark:text-gray-200 ">
              notifications
            </i>
            <span
              class="absolute top-1 right-0 w-2 h-2 bg-red-500 rounded-full"
            ></span>
          </button>
          <div
            *ngIf="isNotificationsOpen"
            class="absolute right-0 mt-2 w-80 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md shadow-lg z-50 transition-all duration-300 ease-in-out text-sm py-2"
          >
            <div
              class="px-4 py-2 border-b border-gray-300 dark:border-gray-700"
            >
              <h3 class="text-gray-700 dark:text-gray-200 font-medium">
                Notifications
              </h3>
            </div>
            <div class="max-h-64 overflow-y-auto">
              <div *ngFor="let group of notificationsByDay">
                <div class="px-4 py-2 bg-gray-100 dark:bg-gray-700">
                  <h4
                    class="text-gray-600 dark:text-gray-300 text-xs font-semibold"
                  >
                    {{ group.date }}
                  </h4>
                </div>
                <ul>
                  <li
                    *ngFor="let notification of group.notifications"
                    class="px-4 py-2 flex justify-between items-center hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-300"
                  >
                    <span class="text-gray-700 dark:text-gray-200">
                      {{ notification.message }}
                    </span>
                    <button
                      class="text-red-500 hover:text-red-700 transition-colors duration-300"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="px-4 py-2 border-t border-gray-300 dark:border-gray-700"
            >
              <a
                routerLink="/notifications"
                class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-600 transition-colors duration-300"
              >
                View All Notifications
              </a>
            </div>
          </div>
        </div>
        <div
          class="relative flex items-center gap-2 text-sm border border-gray-300/20 dark:border-gray-700/50 rounded-md p-1 bg-white dark:bg-gray-800 transition-colors duration-400 ease-in-out cursor-pointer"
          (click)="isPopoverOpen = !isPopoverOpen"
        >
          <img
            src="https://github.com/coderick137.png"
            alt="User Profile"
            class="w-10 h-10 rounded-full border border-gray-300 dark:border-gray-700"
          />
          <span
            class="text-gray-700 dark:text-gray-200 font-medium transition-colors duration-400 ease-in-out"
          >
            Ricardo Anjos
          </span>
          <button
            class="text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 transition-colors duration-400 ease-in-out cursor-pointer"
            aria-label="Toggle Popover"
          >
            <i class="material-icons text-blue-800 dark:text-gray-200">
              expand_more
            </i>
          </button>
          <div
            *ngIf="isPopoverOpen"
            class="absolute left-0 mt-2 top-14 w-48 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md shadow-lg z-50 transition-all duration-300 ease-in-out text-sm py-2"
          >
            <ul class="flex flex-col">
              <li>
                <a
                  routerLink="/profile"
                  class="px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 transition-colors duration-300 flex items-center gap-2"
                >
                  <i class="material-icons text-blue-800 dark:text-gray-200"
                    >person</i
                  >
                  My Account
                </a>
              </li>
              <li>
                <a
                  routerLink="/settings"
                  class="px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 transition-colors duration-300 flex items-center gap-2"
                >
                  <i class="material-icons text-blue-800 dark:text-gray-200"
                    >settings</i
                  >
                  Settings
                </a>
              </li>
              <li>
                <a
                  routerLink="/support"
                  class="px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 transition-colors duration-300 flex items-center gap-2"
                >
                  <i class="material-icons text-blue-800 dark:text-gray-200"
                    >help</i
                  >
                  Support
                </a>
              </li>
              <li>
                <button
                  class="w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 transition-colors duration-300 flex items-center gap-2"
                >
                  <i class="material-icons text-blue-800 dark:text-gray-200"
                    >logout</i
                  >
                  Logout
                </button>
              </li>
            </ul>
          </div>
        </div>
        <button
          class="relative w-14 h-8 mt-1.5 bg-gray-300 dark:bg-gray-700 rounded-full transition-colors duration-500 cursor-pointer"
          (click)="toggleDarkMode()"
          aria-label="Toggle Dark Mode"
        >
          <span
            class="absolute top-0.5 left-0.5 w-7 h-7 bg-white dark:bg-gray-900 rounded-full shadow-md transition-transform duration-500 ease-in-out"
            [style.transform]="
              (isDarkMode | async) ? 'translateX(24px)' : 'translateX(0)'
            "
          ></span>

          @if (!(isDarkMode | async)) {
          <i
            class="material-icons absolute left-1 top-1 text-yellow-500 text-xl transition-opacity duration-500"
            >light_mode</i
          >
          } @if (isDarkMode | async) {
          <i
            class="material-icons absolute right-1 top-1 text-gray-200 text-xl transition-opacity duration-500"
            >dark_mode</i
          >
          }
        </button>
      </nav>
    </div>
  </header>

  <main
    class="flex-1 bg-gray-100 dark:bg-gray-900 transition-all duration-700 ease-in-out px-4 py-6"
    [ngClass]="{ 'ml-64': isSidebarOpen, 'ml-20': !isSidebarOpen }"
  >
    <div>
      <div
        class="flex flex-col w-full h-full rounded-md py-4 px-5 transition-all duration-700 ease-in-out"
      >
        <div class="flex flex-col w-full h-full gap-2 mb-6">
          <h1
            class="text-3xl font-bold text-gray-800 dark:text-gray-200 transition-colors duration-700 ease-in-out"
          >
            {{ title }}
          </h1>
          <p
            class="text-sm font-normal text-gray-500 dark:text-gray-400 transition-colors duration-700 ease-in-out"
          >
            {{ subtitle }}
          </p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
