<section
  class="px-4 sm:px-6 lg:px-8 py-6 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 rounded-md shadow-lg transition-all duration-300 ease-in-out"
>
  <form [formGroup]="companyForm" (ngSubmit)="onSave()" class="space-y-8">
    <!-- Dados da empresa -->
    <fieldset class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Nome*</label
        >
        <input
          id="name"
          type="text"
          formControlName="name"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (companyForm.get('name')?.touched &&
        companyForm.get('name')?.invalid) {
        <p class="mt-1 text-sm text-red-500 dark:text-red-400">
          Nome é obrigatório.
        </p>
        }
      </div>

      <div>
        <label
          for="cnpj"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >CNPJ*</label
        >
        <input
          id="cnpj"
          type="text"
          formControlName="cnpj"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (companyForm.get('cnpj')?.touched &&
        companyForm.get('cnpj')?.invalid) {
        <p class="mt-1 text-sm text-red-500 dark:text-red-400">
          CNPJ é obrigatório.
        </p>
        }
      </div>
    </fieldset>

    <!-- Contato -->
    <fieldset
      formGroupName="contact"
      class="grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Email*</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (contact?.get('email')?.touched && contact?.get('email')?.invalid) {
        <p class="mt-1 text-sm text-red-500 dark:text-red-400">
          Email válido é obrigatório.
        </p>
        }
      </div>

      <div>
        <label
          for="phone"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Telefone</label
        >
        <input
          id="phone"
          type="text"
          formControlName="phone"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
    </fieldset>

    <!-- Endereço -->
    <fieldset
      formGroupName="address"
      class="grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <div>
        <label
          for="city"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Cidade</label
        >
        <input
          id="city"
          type="text"
          formControlName="city"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="state"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Estado</label
        >
        <input
          id="state"
          type="text"
          formControlName="state"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="neighborhood"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Bairro</label
        >
        <input
          id="neighborhood"
          type="text"
          formControlName="neighborhood"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="zipCode"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >CEP</label
        >
        <input
          id="zipCode"
          type="text"
          formControlName="zipCode"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
    </fieldset>

    <!-- Descrição -->
    <fieldset>
      <label
        for="description"
        class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >Descrição</label
      >
      <textarea
        id="description"
        formControlName="description"
        rows="4"
        class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
    </fieldset>

    <!-- Módulos -->
    <fieldset class="space-y-3">
      <label
        class="flex items-center gap-3 text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          class="w-5 h-5 rounded border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
          formControlName="enableCSAT"
        />
        Ativar Módulo CSAT
      </label>

      <label
        class="flex items-center gap-3 text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          class="w-5 h-5 rounded border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
          formControlName="enableAI"
        />
        Ativar Módulo de IA
      </label>

      <label
        class="flex items-center gap-3 text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          class="w-5 h-5 rounded border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
          formControlName="enableTrendVoip"
        />
        Ativar Módulo de TrendVoip
      </label>
    </fieldset>

    <!-- Canais -->
    <fieldset class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <label
          for="maxCloudApi"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Máx. canais Cloud API</label
        >
        <input
          id="maxCloudApi"
          type="number"
          min="0"
          formControlName="maxCloudApi"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div>
        <label
          for="maxBusiness"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Máx. canais Business</label
        >
        <input
          id="maxBusiness"
          type="number"
          min="0"
          formControlName="maxBusiness"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div>
        <label
          for="maxBusinessPro"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Máx. canais Business PRO</label
        >
        <input
          id="maxBusinessPro"
          type="number"
          min="0"
          formControlName="maxBusinessPro"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
    </fieldset>

    <!-- Mensalidade e Periodicidade -->
    <fieldset class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label
          for="monthlyValue"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Mensalidade</label
        >
        <input
          id="monthlyValue"
          type="number"
          min="0"
          formControlName="monthlyValue"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="recurrence"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Periodicidade</label
        >
        <select
          id="recurrence"
          formControlName="recurrence"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none"
        >
          <option value="Mensal">Mensal</option>
          <option value="Trimestral">Trimestral</option>
          <option value="Semestral">Semestral</option>
          <option value="Anual">Anual</option>
        </select>
      </div>
    </fieldset>

    <!-- Upload -->
    <fieldset
      class="flex flex-col items-center justify-center gap-2 border border-dashed rounded-md p-10 border-gray-300 dark:border-gray-600"
    >
      <label for="thumbnail" class="text-sm text-gray-700 dark:text-gray-300"
        >Selecione os arquivos desejados</label
      >
      <input
        id="thumbnail"
        type="file"
        formControlName="thumbnail"
        class="file:px-4 file:py-2 file:rounded-md file:border-0 file:bg-blue-600 file:text-white file:hover:bg-blue-700 transition file:cursor-pointer file:mr-2 file:font-semibold focus:outline-none focus:ring-2 focus:ring-blue-500"
        accept="image/*"
      />
    </fieldset>

    <!-- Ativo -->
    <fieldset>
      <label
        class="inline-flex items-center text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          formControlName="active"
          class="mr-2 w-5 h-5 rounded-full border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
        />
        Ativar
      </label>
    </fieldset>

    <!-- Botões -->
    <footer class="flex flex-col sm:flex-row gap-4 justify-end mt-6">
      <button
        type="submit"
        [disabled]="companyForm.invalid"
        class="w-full sm:w-auto bg-blue-600 text-white px-6 py-3 rounded-md shadow-md hover:bg-blue-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
      >
        {{ companyId ? 'Salvar' : 'Cadastrar' }}
      </button>
      <button
        type="button"
        (click)="goToDashboard()"
        class="w-full sm:w-auto bg-gray-600 text-white px-6 py-3 rounded-md shadow-md hover:bg-gray-500 transition cursor-pointer"
      >
        Cancelar
      </button>
    </footer>
  </form>
</section>
