<section
  class="px-4 sm:px-6 lg:px-8 py-6 bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 rounded-md shadow-lg transition-all duration-300 ease-in-out"
>
  <form [formGroup]="companyForm" (ngSubmit)="onSave()" class="space-y-8">
    <fieldset class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Name*</label
        >
        <input
          id="name"
          type="text"
          formControlName="name"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (companyForm.get('name')?.touched &&
        companyForm.get('name')?.invalid) {
        <p class="mt-1 text-sm text-red-500 dark:text-red-400">
          Name is required.
        </p>
        }
      </div>

      <div>
        <label
          for="cnpj"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >CNPJ*</label
        >
        <input
          id="cnpj"
          type="text"
          formControlName="cnpj"
          placeholder="00.000.000/0000-00"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:opacity-50"
          (input)="onCNPJChange($event)"
          maxlength="18"
          pattern="\d*"
          oninput="this.value = this.value.replace(/\D/g, '')"
        />
        @if (companyForm.get('cnpj')?.touched &&
        companyForm.get('cnpj')?.invalid) {
        <p class="mt-1 text-sm text-red-500 dark:text-red-400">
          CNPJ is required.
        </p>
        }
      </div>
    </fieldset>

    <fieldset
      formGroupName="contact"
      class="grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Email*</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="company@email.com"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:opacity-50"
        />
        @if (contact?.get('email')?.touched && contact?.get('email')?.invalid) {
        <p class="mt-1 text-sm text-red-500 dark:text-red-400">
          Valid email is required.
        </p>
        }
      </div>

      <div>
        <label
          for="phone"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Phone</label
        >
        <input
          id="phone"
          type="text"
          formControlName="phone"
          placeholder="(00) 00000-0000"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:opacity-50"
          (input)="onPhoneChange($event)"
          maxlength="15"
          pattern="\d*"
          oninput="this.value = this.value.replace(/\D/g, '')"
        />
      </div>
    </fieldset>

    <fieldset
      formGroupName="address"
      class="grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <div>
        <label
          for="city"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >City</label
        >
        <input
          id="city"
          type="text"
          formControlName="city"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="state"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >State</label
        >
        <input
          id="state"
          type="text"
          formControlName="state"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="neighborhood"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Neighborhood</label
        >
        <input
          id="neighborhood"
          type="text"
          formControlName="neighborhood"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label
          for="zipCode"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Zip Code</label
        >
        <input
          id="zipCode"
          type="text"
          formControlName="zipCode"
          (input)="onZipCodeChange($event)"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:opacity-50"
          placeholder="00000-000"
          maxlength="10"
        />
      </div>
    </fieldset>

    <fieldset>
      <label
        for="description"
        class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >Description</label
      >
      <textarea
        id="description"
        formControlName="description"
        rows="4"
        class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
    </fieldset>

    <fieldset class="space-y-3">
      <label
        class="flex items-center gap-3 text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          class="w-5 h-5 rounded border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
          formControlName="enableCSAT"
        />
        Enable CSAT Module
      </label>

      <label
        class="flex items-center gap-3 text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          class="w-5 h-5 rounded border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
          formControlName="enableAI"
        />
        Enable AI Module
      </label>

      <label
        class="flex items-center gap-3 text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          class="w-5 h-5 rounded border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
          formControlName="enableTrendVoip"
        />
        Enable Trend VoIP Module
      </label>
    </fieldset>

    <fieldset class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <label
          for="maxCloudApi"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >
          Max. Cloud API Channels
        </label>
        <input
          id="maxCloudApi"
          type="number"
          min="0"
          formControlName="maxCloudApi"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div>
        <label
          for="maxBusiness"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >
          Max. Business Channels
        </label>
        <input
          id="maxBusiness"
          type="number"
          min="0"
          formControlName="maxBusiness"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div>
        <label
          for="maxBusinessPro"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >
          Max. Business PRO Channels
        </label>
        <input
          id="maxBusinessPro"
          type="number"
          min="0"
          formControlName="maxBusinessPro"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
    </fieldset>

    <fieldset class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label
          for="monthlyValue"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >
          Monthly
        </label>
        <input
          id="monthlyValue"
          type="text"
          formControlName="monthlyValue"
          [value]="formattedMonthlyValue"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
          (input)="onCurrencyChange($event)"
          placeholder="R$ 0,00"
        />
      </div>

      <div>
        <label
          for="recurrence"
          class="block mb-2 text-sm font-semibold text-gray-700 dark:text-gray-300"
        >
          Recurrence
        </label>
        <select
          id="recurrence"
          formControlName="recurrence"
          class="w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 focus:outline-none"
        >
          <option value="Monthly">Monthly</option>
          <option value="Quarterly">Quarterly</option>
          <option value="Semiannual">Semiannual</option>
          <option value="Annual">Annual</option>
        </select>
      </div>
    </fieldset>

    <fieldset
      class="flex flex-col items-center justify-center gap-2 border border-dashed rounded-md p-10 border-gray-300 dark:border-gray-600"
    >
      <label for="thumbnail" class="text-sm text-gray-700 dark:text-gray-300"
        >Select the desired files</label
      >
      <input
        id="thumbnail"
        type="file"
        formControlName="thumbnail"
        class="file:px-4 file:py-2 file:rounded-md file:border-0 file:bg-blue-600 file:text-white file:hover:bg-blue-700 transition file:cursor-pointer file:mr-2 file:font-semibold focus:outline-none focus:ring-2 focus:ring-blue-500"
        accept="image/*"
      />
    </fieldset>

    <fieldset>
      <label
        class="inline-flex items-center text-sm text-gray-700 dark:text-gray-300"
      >
        <input
          type="checkbox"
          formControlName="active"
          class="mr-2 w-5 h-5 rounded-full border-gray-400 dark:border-gray-600 bg-gray-200 dark:bg-gray-700 text-blue-600 focus:ring-2 focus:ring-blue-500"
        />
        Activate Company
      </label>
    </fieldset>

    <footer class="flex flex-col sm:flex-row gap-4 justify-end mt-6">
      <button
        type="submit"
        [disabled]="companyForm.invalid"
        class="w-full sm:w-auto bg-blue-600 text-white px-6 py-3 rounded-md shadow-md hover:bg-blue-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
      >
        {{ companyId ? "Save" : "Register" }}
      </button>
      <button
        type="button"
        (click)="goToDashboard()"
        class="w-full sm:w-auto bg-gray-600 text-white px-6 py-3 rounded-md shadow-md hover:bg-gray-500 transition cursor-pointer"
      >
        Cancel
      </button>
    </footer>
  </form>
</section>
